# Banco de dados
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/scampanha?schema=public"

# Auth
NEXTAUTH_SECRET="placeholder-replace-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App
NODE_ENV="development"
